version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: product_redis
    ports:
      - "6380:6379"  # Maps host 6380 to container 6379 to avoid conflicts

  app:
    build: .
    container_name: product_app
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - redis